.about-us {
  text-align: center;
}

.about-us__title {
  margin: 0;
  margin-bottom: 50px;
  font-size: 30px;
  line-height: 30px;
  letter-spacing: -0.005em;
  font-weight: 600;
  color: #1f1f1f;
}


@media (max-width: $tablet-width) {
  .about-us__title {
    margin-bottom: 30px;
    font-size: 24px;
    line-height: 41px;
  }
}
