.contacts {
  max-width: 957px;
  padding: 0 35px;
  margin: 0 auto;
  margin-bottom: 95px;
  text-align: center;
}

.contacts__title {
  margin: 0;
  margin-bottom: 28px;
  font-size: 30px;
  line-height: 30px;
  letter-spacing: -0.005em;
  font-weight: 600;
  color: #1f1f1f;
}

.contacts__address {
  width: 57%;
  margin: 0 auto;
  margin-bottom: 40px;
  font-size: 17px;
  line-height: 31px;
  font-style: normal;
  opacity: 0.7;
}

.contacts__map {
  position: relative;
  margin-bottom: 40px;
  max-width: 100%;
  height: 530px;
}

.contacts__map-image {
  max-width: 100%;
  height: 100%;
  object-fit: cover;
}

.contacts__map-yandex {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.contacts__links {
  display: flex;
  justify-content: space-between;
  width: 54%;
  margin: 0 auto;
}

.contacts__links-item {
  position: relative;
  padding-left: 18px;
  font-size: 16px;
  line-height: 22px;
  color: #000000;
  opacity: 0.5;
}

.contacts__links-item::before {
  position: absolute;
  content: "";
}

.contacts__links-item--mail::before {
  top: 50%;
  left: -23px;
  transform: translateY(-50%);
  width: 26px;
  height: 20px;
  background-image: url("../img/icon-mail.svg");
  background-repeat: no-repeat;
}

.contacts__links-item--phone::before {
  top: 50%;
  left: -20px;
  transform: translateY(-50%);
  width: 21px;
  height: 23px;
  background-image: url("../img/icon-phone.svg");
  background-repeat: no-repeat;
}


@media (max-width: $tablet-width) {
  .contacts__title {
    margin-bottom: 20px;
    font-size: 24px;
  }

  .contacts__map {
    margin-bottom: 36px;
  }

  .contacts__address {
    margin-bottom: 20px;
    width: 100%;
  }

  .contacts__links {
    width: 74%;
  }
}


@media (max-width: $mobile-width) {
  .contacts {
    padding: 0;
  }

  .contacts__title {
    font-size: 18px;
  }

  .contacts__address {
    padding: 0 25px;
    box-sizing: border-box;
    width: 100%;
  }

  .contacts__map {
    height: 250px;
    margin-bottom: 30px;
  }

  .contacts__links {
    flex-direction: column;
    align-items: center;
  }

  .contacts__links-item--mail {
    margin-bottom: 23px;
  }
}
