.nav {
  position: relative;
}

.nav__list {
  @include ul-reset();
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.nav__item {
  &:hover a,
  &:focus a {
    opacity: 1;
  }
}

.nav__item a {
  font-size: 16px;
  font-weight: 300;
  line-height: 32px;
  color: #ffffff;
  opacity: 0.7;
}

.nav__toggle {
  display: none;
  z-index: 3;
}

@media (max-width: $tablet-width) {
  .nav__list {
    display: none;
    flex-direction: column;
    padding: 0;
    padding-top: 100px;
    padding-bottom: 140px;
  }

  .nav--opened .nav__list {
    display: block;
    position: absolute;
    width: 100%;
    min-height: 100vh;
    background-color: #ffffff;
    z-index: 2;
  }

  .nav--opened .nav__toggle {
    background-color: #ffffff;
    background-image: url("../img/icon-menu-close.svg");
    background-size: 24px 25px;
    outline: none;

    &:focus,
    &:hover {
      background-color: darken(#ffffff, 20%);
    }
  }

  .nav--nojs .nav__list {
    display: block;
  }

  .nav--nojs .nav__toggle {
    background-color: #ffffff;
    background-image: url("../img/icon-menu-close.svg");

    &:focus,
    &:hover {
      background-color: darken(#ffffff, 20%);
    }
  }

  .nav__item a {
    display: block;
    position: relative;
    padding-top: 17px;
    padding-bottom: 17px;
    padding-left: 16px;
    margin-bottom: 28px;
    background-color: #f6f6f6;
    font-size: 20px;
    line-height: 28px;
    color: #48494d;
  }

  .nav__item:last-child a {
    margin-bottom: 0;
  }

  .nav__item a::after {
    content: "";
    position: absolute;
    width: 25px;
    height: 25px;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    background-image: url("../img/icon-arrow.svg");
    background-repeat: no-repeat;
    background-position: center;
  }

  .nav__toggle {
    display: block;
    position: absolute;
    right: 0;
    width: 50px;
    height: 50px;
    background-image: url("../img/icon-menu-open.svg");
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    background-color: $main-color;
    outline: none;

    &:focus,
    &:hover {
      background-color: darken($main-color, 20%);
    }
  }
}
